.cadastro fieldset{
   display: block;
    float: none;
    position: relative;
    margin-top: 70px;
    margin-left: auto;
    


}
.cadastro label{
 padding: 10px; 
    

}



label{
  display: block;
    
    
}

.cadastro {
   
    margin:auto ;
  width: 30%;
 
   /*padding-left: 50%;
     padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 10%;*\
}

