
body {
  font-family: arial;
  font-size: 18px;
}

.menu {
  list-style: none;
  /*Tira o índice da lista */
  
}

.list {
  position: relative;
  float: left;
  border: 1px solid #c0c0c0;
  width: 23%;
  text-align: center;
}

.anchor {
  /*Formatação do link*/
  color: black;
  background: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.anchor:hover {
  /*Formartação do link*/
  
  background: #E6C8D1;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  transition:.15s ease; 
  
}

.list:hover ul,
.menu li.over ul {
  /*Exibir menu quando passar o mouse por cima */
  position:absolute;
  display: block;
  width:100%;
  padding: 0px 10% 10% 10%;
  
  
  
}

.submenu {
  position: absolute;
  display: none;
  
}

.sub {
  display: block;
  width: 80%;
  float: left;
  border: 1px solid #c0c0c0;
  text-align: center;
  
}
.sub:hover {
  transform: scale(1.1);
}


section {
	display:none;
	transition: all 0.5s;
}

section:target {
	display:block;
}



















